<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nova aktivnost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dostupne aktivnosti</ion-card-subtitle>
      <ion-card-title>Izaberite aktivnost koju želite odraditi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let parent of parentActivities">
        <ion-item>
          <ion-label>{{parent.naziv}}</ion-label>
        </ion-item>
        <ion-item
          *ngFor="let activity of parent.activities"
          lines="full"
          (click)="select(activity)"
        >
          <ion-icon [name]="activity.icon"></ion-icon>
          <div class="activity-name">
            <p class="title">{{activity.naziv}}</p>
            <p class="duration">
              {{activity.pocetak | date: 'dd.MM.yyyy'}} - {{activity.kraj |
              date: 'dd.MM.yyyy'}}
            </p>
          </div>
          <ion-button *ngIf="activity.pracenjeAktivnosti" class="select-button" size="small" fill="solid">
            Odaberi
          </ion-button>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

	<ion-button *ngIf="selectedActivity" (click)="startActivity()" expand="block" fill="solid">
		Pokreni '{{selectedActivity.naziv}}'
		<ion-icon name="chevron-forward-outline"></ion-icon>
	</ion-button>
</ion-content>
